DomainModels/Domain Models/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidUser" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_show_in_list_InputMessage">
    <wsdl:part name="parameters" element="tns:show_in_list" />
  </wsdl:message>
  <wsdl:message name="IService1_show_in_list_OutputMessage">
    <wsdl:part name="parameters" element="tns:show_in_listResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_enteritems_InputMessage">
    <wsdl:part name="parameters" element="tns:enteritems" />
  </wsdl:message>
  <wsdl:message name="IService1_enteritems_OutputMessage">
    <wsdl:part name="parameters" element="tns:enteritemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Showproduct_InputMessage">
    <wsdl:part name="parameters" element="tns:Showproduct" />
  </wsdl:message>
  <wsdl:message name="IService1_Showproduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowproductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchitems_InputMessage">
    <wsdl:part name="parameters" element="tns:searchitems" />
  </wsdl:message>
  <wsdl:message name="IService1_searchitems_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchitemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteitems_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteitems" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteitems_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteitemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getlengthofarray_InputMessage">
    <wsdl:part name="parameters" element="tns:getlengthofarray" />
  </wsdl:message>
  <wsdl:message name="IService1_getlengthofarray_OutputMessage">
    <wsdl:part name="parameters" element="tns:getlengthofarrayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidUser" message="tns:IService1_isValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidUserResponse" message="tns:IService1_isValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="show_in_list">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/show_in_list" message="tns:IService1_show_in_list_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/show_in_listResponse" message="tns:IService1_show_in_list_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enteritems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/enteritems" message="tns:IService1_enteritems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/enteritemsResponse" message="tns:IService1_enteritems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Showproduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Showproduct" message="tns:IService1_Showproduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowproductResponse" message="tns:IService1_Showproduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchitems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchitems" message="tns:IService1_searchitems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchitemsResponse" message="tns:IService1_searchitems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteitems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteitems" message="tns:IService1_deleteitems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteitemsResponse" message="tns:IService1_deleteitems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getlengthofarray">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getlengthofarray" message="tns:IService1_getlengthofarray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getlengthofarrayResponse" message="tns:IService1_getlengthofarray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show_in_list">
      <soap:operation soapAction="http://tempuri.org/IService1/show_in_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enteritems">
      <soap:operation soapAction="http://tempuri.org/IService1/enteritems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showproduct">
      <soap:operation soapAction="http://tempuri.org/IService1/Showproduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchitems">
      <soap:operation soapAction="http://tempuri.org/IService1/searchitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteitems">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlengthofarray">
      <soap:operation soapAction="http://tempuri.org/IService1/getlengthofarray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61471/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>