DomainModels/Domain Models/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61471/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidUser" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_enteritems_InputMessage">
    <wsdl:part name="parameters" element="tns:enteritems" />
  </wsdl:message>
  <wsdl:message name="IService1_enteritems_OutputMessage">
    <wsdl:part name="parameters" element="tns:enteritemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Showproduct_InputMessage">
    <wsdl:part name="parameters" element="tns:Showproduct" />
  </wsdl:message>
  <wsdl:message name="IService1_Showproduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowproductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowUserProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowUserProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowUserProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowUserProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:delteOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_delteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:delteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Identify_admin_InputMessage">
    <wsdl:part name="parameters" element="tns:Identify_admin" />
  </wsdl:message>
  <wsdl:message name="IService1_Identify_admin_OutputMessage">
    <wsdl:part name="parameters" element="tns:Identify_adminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Admin_list_InputMessage">
    <wsdl:part name="parameters" element="tns:Admin_list" />
  </wsdl:message>
  <wsdl:message name="IService1_Admin_list_OutputMessage">
    <wsdl:part name="parameters" element="tns:Admin_listResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userfeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:userfeedback" />
  </wsdl:message>
  <wsdl:message name="IService1_userfeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:userfeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userviews_InputMessage">
    <wsdl:part name="parameters" element="tns:userviews" />
  </wsdl:message>
  <wsdl:message name="IService1_userviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:userviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Useritems_InputMessage">
    <wsdl:part name="parameters" element="tns:Useritems" />
  </wsdl:message>
  <wsdl:message name="IService1_Useritems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UseritemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loginAsAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:loginAsAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_loginAsAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginAsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteitems_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteitems" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteitems_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteitemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Orderdate_InputMessage">
    <wsdl:part name="parameters" element="tns:Orderdate" />
  </wsdl:message>
  <wsdl:message name="IService1_Orderdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowOrder" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ShowUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidUser" message="tns:IService1_isValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidUserResponse" message="tns:IService1_isValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enteritems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/enteritems" message="tns:IService1_enteritems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/enteritemsResponse" message="tns:IService1_enteritems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Showproduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Showproduct" message="tns:IService1_Showproduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowproductResponse" message="tns:IService1_Showproduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowUserProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowUserProduct" message="tns:IService1_ShowUserProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowUserProductResponse" message="tns:IService1_ShowUserProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delteOrder" message="tns:IService1_delteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/delteOrderResponse" message="tns:IService1_delteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Identify_admin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Identify_admin" message="tns:IService1_Identify_admin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Identify_adminResponse" message="tns:IService1_Identify_admin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Admin_list">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Admin_list" message="tns:IService1_Admin_list_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Admin_listResponse" message="tns:IService1_Admin_list_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userfeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userfeedback" message="tns:IService1_userfeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userfeedbackResponse" message="tns:IService1_userfeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userviews" message="tns:IService1_userviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userviewsResponse" message="tns:IService1_userviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Useritems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Useritems" message="tns:IService1_Useritems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UseritemsResponse" message="tns:IService1_Useritems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginAsAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loginAsAdmin" message="tns:IService1_loginAsAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginAsAdminResponse" message="tns:IService1_loginAsAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteitems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteitems" message="tns:IService1_deleteitems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteitemsResponse" message="tns:IService1_deleteitems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Orderdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Orderdate" message="tns:IService1_Orderdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OrderdateResponse" message="tns:IService1_Orderdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowOrder" message="tns:IService1_ShowOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowOrderResponse" message="tns:IService1_ShowOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ShowUser" message="tns:IService1_ShowUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ShowUserResponse" message="tns:IService1_ShowUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enteritems">
      <soap:operation soapAction="http://tempuri.org/IService1/enteritems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Showproduct">
      <soap:operation soapAction="http://tempuri.org/IService1/Showproduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowUserProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowUserProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delteOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/delteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Identify_admin">
      <soap:operation soapAction="http://tempuri.org/IService1/Identify_admin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_list">
      <soap:operation soapAction="http://tempuri.org/IService1/Admin_list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userfeedback">
      <soap:operation soapAction="http://tempuri.org/IService1/userfeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userviews">
      <soap:operation soapAction="http://tempuri.org/IService1/userviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Useritems">
      <soap:operation soapAction="http://tempuri.org/IService1/Useritems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginAsAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/loginAsAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteitems">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Orderdate">
      <soap:operation soapAction="http://tempuri.org/IService1/Orderdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowOrder">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ShowUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61471/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>